language: android
jdk: oraclejdk8
sudo: required # false for Container-Based Infrastructure, required for Sudo-Enabled Infrastructure
#group: deprecated-2017Q4

notifications:
  pushover:
    api_key:
      - secure: "pCSW1JRl9WcclzVeQaSJnSqcBDHdqOymlLWXeRJdekJfxolth54lEmEju5I7LYk4eXNGWE29S1kgW0pCIGTYzoJxQ031Vr3FijZVE7zFlYdZLOhErYZc5GZMBQqphv4jHojRQAvsBCL31a3ob29lHlMnbVgGpGiQsC/bIEBZm5vqsKv5wI1ZrUCHOf7Lh9KF+S9A/Ow2nOkuSt2Z3V2DhNSF1TAObBa2i40W7LELDkELJe0wMaxEaU+KJ1KFG0KQLCblyjYBnAWSSyLikD0uIXdNoGkzkVsAxPj3dIxvdQKF5RkGD9UTQglOaLTO8Thy9qtwQK/9zbMo/ZFCXjSuYT5wZe5apfSfKauW8M2/fN05V0OAzd6isUvU2qcoI37M2LTaB2MDdDntPgInNupiBZC90i+iYQrq9G60GkhCQcnb43nWIj58bCIMHpr/plmcOtCL6NW4qpCkDLeNe6QezuI46psxT4zF6NBX/C0k7gV1pUf3N0F88Ylh3A74HWwWMJhApbzKhAZsOl1G4N7IFm8Sov9suwk+Me+hQN6bxMBG5F+lCjK1Z4dexZGiT54x97l8+2Z0fKrohzOdgTXUkNTxl6ZWcFu6QrymP4sfaSx3IWRh3ohYAIVv4CeXciJocwZ8lDKiJUQ9Rjcdn0uB0nbzMdrGC3LMQPMxguXVqIc="
    users:
      - secure: "mJK+K/KCAlXV1G7XVsttpXuoVmpgIAUjzDCJ6xzKKuZql0GG6R3+ZQ/s+Qx4XPmG4EBdIkDvo9RrCA3AUwOyfEhRgKx4lCvmvUgzTgISKkR7bQ/BAuOohgT6NoOwHQKFqlJxwqdcLoDar8oezhG0+eXOSlet3XmAOWhi8HjLcXRHHlj82/NXIuyQtdqyZRmNzAbAvSsSmkfibf7US0IfTCUe00aU6MbSOKswqwJb7h5rfrBn6ssONRxboNuF2SUxsTo0LJ6Fpu9irHxPc22aQ5SFl+CHRwCHVfnIte8/n7o0uRO+9lggajre32/kauLmGK0JCq5ZGjfHgvmK34bX6jMpve9KeDX4cFJzfXG65NqMzA8Ph4xKrS/sZjqwmf4NIt6lX+9Pq5O4p1MZG8OXZxW3YocQtqHjT/anskn3JGpZBcUChyw9CbgljgIN0F5iNUwnzg5ODuhCvdus+AxvtxtOEVCsACTJiDshtQEMsMt0uOdZQtw6pS7+djZ1avQiC+D4KJ208ed4F1lX/36ud/EVFx6jVDQWId/A80m7nUdacBjzzarC6mjj42HXF1pbLcjd1FK+bxxtrEYAT2vZSwz/d/el4dIeMAOCtqjAeM8ouwPM2/FaXGV/AOyptzPneZbQmuDZVO/MVQ2yx6R8JfUYaFRbmWgO8lRwJXFqW/0="

before_cache:
  - rm -f ${TRAVIS_BUILD_DIR}/gradle/caches/modules-2/modules-2.lock # Avoid to repack it due locks
  - rm -f ${TRAVIS_BUILD_DIR}/gradle/caches/3.3/classAnalysis/classAnalysis.lock
  - rm -f ${TRAVIS_BUILD_DIR}/gradle/caches/3.3/jarSnapshots/jarSnapshots.lock

cache:
  directories:
    - ${TRAVIS_BUILD_DIR}/gradle/caches/
    - ${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/

env:
  global:
    - TARGET_SDK=27
    - BUILD_TOOLS_VERSION=27.0.2
  matrix:
    - EMULATOR_SDK=android-22 ABI=armeabi-v7a

android:
  components: # Cookbooks version: https://github.com/travis-ci/travis-cookbooks/tree/9c6cd11
    - tools
    - platform-tools
    - tools
    - android-${TARGET_SDK}
    - android-26
    - android-22
    - build-tools-${BUILD_TOOLS_VERSION}
    - extra-android-m2repository


before_install:
#  - export EMULATOR="system-images;android-${API};${TAG};${ABI}" # Used to install/create emulator
#  - echo 'count=0' > /home/travis/.android/repositories.cfg # Avoid warning
  - openssl aes-256-cbc -K $encrypted_923bf72da533_key -iv $encrypted_923bf72da533_iv -in ci/secrets.tar.enc -out ci/secrets.tar -d
  - tar xvf ci/secrets.tar
  - chmod +x gradlew


before_script:
  - android-update-sdk --components=sys-img-$ABI-$EMULATOR_SDK --accept-licenses='android-sdk-license-[0-9a-f]{8}'
  - mkdir -p $ANDROID_HOME/licenses
  - ls $ANDROID_HOME || true
  - ls $ANDROID_HOME/licences || true
  - touch $ANDROID_HOME/licenses/android-sdk-license
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\nd56f5187479451eabf01fb78af6dfcb131a6481e" >> "$ANDROID_HOME/licenses/android-sdk-license"
  #- yes | sdkmanager --licenses
  - echo no | android create avd --force -n test -t $EMULATOR_SDK --abi $ABI
  - emulator -avd test -no-audio -no-window &
  - ./gradlew clean build
  - adb shell settings put global window_animation_scale 0 &
  - adb shell settings put global transition_animation_scale 0 &
  - adb shell settings put global animator_duration_scale 0 &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew jacocoTestReport
  - travis_wait 60 ./gradlew connectedCheck

after_script:
  # Show tests and lint results
  #- cat ${TRAVIS_BUILD_DIR}/*/build/outputs/androidTest-results/connected/*
  #- cat ${TRAVIS_BUILD_DIR}/*/build/reports/lint-results.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)